:root {
    --background-color: #fff;
    --long-rail-clipping: 100px;
    --short-rail-clipping: 55px;
}

.character {
    display: inline-block;
    padding: 16px;
    background-color: var(--background-color);
    border-radius: 4px;
    box-shadow: 1px 0 25px 2px #0008;
    color: #333;
    overflow: hidden;
    cursor: pointer;
    margin: auto;
}

.character:hover {
    box-shadow: 1px 0 50px 2px #000a;
}

h2 {
    margin: 0;
}

.character .img-container {
    position: relative;
    margin: 0 0 16px;
    width: 200px;
    height: 150px;
}

.img-container::before,
.img-container::after {
    display: block;
    position: absolute;
    content: '';
}

.img-container::before {
    right: 0;
    top: 0;
    border-right: var(--long-rail-clipping) solid var(--background-color);
    border-bottom: var(--short-rail-clipping) solid transparent;
}

.img-container::after {
    left: 0;
    bottom: 0;
    border-left: var(--long-rail-clipping) solid var(--background-color);
    border-top: var(--short-rail-clipping) solid transparent;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
