.character-grid {
    /* max-width: 992px; */
    width: 100%;
    display: grid;
    grid-auto-rows: minmax(min-content, auto);
    grid-template-columns: repeat(auto-fit, 232px);
    grid-gap: 60px;
    align-items: center;
    justify-content: center;
}